.heading-PEO {
  color: rgb(0, 64, 128);
  margin-left: 2%;
  margin-top: 3%;
  font-size: 2.5vw;
}

.heading-sub {
  color: rgb(0, 64, 128);
  margin-left: 2%;
  margin-top: 3%;
  font-size: 1.7vw;
}
.plo-paragraph {
  color: rgb(45, 45, 45);
  margin-left: 2%;
  font-size: 1.3vw;
  font-weight: 490;
}
